# ::::: GLOBAL PARAMETERS :::::

#Number of simulations
simulation.experiments 1

#End time of the experimentation
simulation.endtime 360

#Network size (Number of nodes)
network.size 3 



# ::::: TRANSPORT :::::

#Name of the transport protocol class
protocol.transport application.MatrixTransport

#Path of the latency configuration file
protocol.transport.matrix network.matrix



# ::::: APPLICATION :::::

#Name of the application protocol class
protocol.applicative application.ApplicationProtocol

#Link between the application and the transport protocols
protocol.applicative.transport transport

#We want the application protocol to know its pid
protocol.applicative.myself applicative

#Probabily to send a message to a node after the reception of a message INC_STATE
protocol.applicative.probaMessage 0.5

#Probabily to send a message to a node after the reception of a message INC_STATE
protocol.applicative.probaBroadcast 0.005



# ::::: INITIALIZER :::::

#Name of class initialisation class
init.initializer application.Initializer

#Initilisation class must know the application protocol's pid
init.initializer.applicationProtocolPid applicative
