# ::::: PARAMETERS :::::

#Nombre de simulations consecutives
simulation.experiments 1

#date de fin de la simulation
simulation.endtime 360

#taille du reseau
network.size 3 



# ::::: LAYERS :::::

#definition de la couche transport
protocol.transport application.MatrixTransport

#matrix file name
protocol.transport.matrix network.matrix

#definition de la couche applicative
protocol.applicative application.ApplicationProtocol

#liaison entre la couche applicative et la couche transport
protocol.applicative.transport transport

#pour que la couche applicative connaisse son pid
protocol.applicative.myself applicative



# ::::: INITIALIZER :::::

#declaration d'un module d'initialisation
init.initializer application.Initializer

#pour que le module connaisse le pid de la couche applicative
init.initializer.applicationProtocolPid applicative
